*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input__container{ 
    width: 50%;
}

.todo__container, .done__container{
width: 25%;
}

.form__container{
    display: flex;
    flex-direction: column;
    width: 60%;
}